.weatherCard {
  max-width: 350px;
  margin: auto;
}

.weatherCard__content {
  display: flex;
  padding: 0;
}

.weatherCard__weather {
  padding: 0 20px;
  flex: 2;
}

.weatherCard__day {
  color: #4236dd;
}

.weatherCard__city {
  color: #A4AEB5;
}

.weatherCard__weatherDesc {
  margin-bottom: 0;
  text-transform: capitalize;
}

.weatherCard__details {
  flex: 1;
  background-color: #4236dd;
  color: #fff;
}

.weatherCard__details > div {
  padding: 20px 10px;
  display: flex;
  justify-content: space-around
}